/* ===== Instal font ====== */

@font-face {
  font-family: "Kyiv*Type Titling";
  src: url("../fonts/KyivTypeTitling-Medium.woff2") format("woff2"),
    url("../fonts/KyivTypeTitling-Medium.woff") format("woff"),
    url("../fonts/KyivTypeTitling-Medium.eot") format("embedded-opentype"),
    url("../fonts/KyivTypeTitling-Medium.ttf") format("truetype");
}

/* ==== Set root vars ==== */

:root {
  --font-white: #fff;
  --font-gray: #a7a6a6;
  --date-header: #c8c8c8;
  --red: #d40d1f;
}

/* ===== Little reset ======= */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: #000;
  color: var(--font-white);
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

button {
  padding: 0;
  margin: 0;
  background: transparent;
  border: none;
  color: inherit;
}

p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1625px;
  padding: 0 10px;
  margin: 0 auto;
  position: relative;
  background: none;
}

/* ==== BAckground styles ==== */

.background {
  position: absolute;
  z-index: -1;
}

/* ====== Header styles ======= */

.header__inner {
  padding-top: 66px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  padding-right: 16px;
  margin-right: 26px;
  position: relative;
}

.header__logo::after {
  content: "";
  width: 3px;
  height: 26px;
  background: var(--font-white);
  position: absolute;
  top: 11.5px;
  right: 0;
}

.header__date {
  font-family: "Kyiv*Type Titling";
  font-size: 24px;
  line-height: 29px;
  color: var(--date-header);
}

.header__right {
  display: flex;
  align-items: center;
  gap: 45px;
}

.header__search_btn img {
  width: 43px;
  height: 43px;
}

.header__user_btn img {
  height: 74px;
  width: 74px;
}

/* ==== Main styles ==== */

.main {
  margin-top: 113px;
}

.content {
  max-width: 864px;
}

.content__genres {
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  margin-bottom: 42px;
  display: flex;
  align-items: center;
  gap: 20px;
  opacity: 0;
}

.content__genres p {
  padding-right: 20px;
  border-right: 3px solid var(--font-white);
}

.content__genres p:last-child {
  border: none;
  padding: 0;
}

.content__title {
  font-weight: 800;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: 0.055em;
  margin-bottom: 35px;
  opacity: 0;
}

.content__info {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: 20px;
  opacity: 0;
}

.content__info p {
  font-weight: 500;
  font-size: 30px;
  line-height: 36px;
}

.divider {
  padding-right: 20px;
  position: relative;
}

.content__info .divider::after {
  content: "";
  width: 3px;
  height: 20px;
  background: var(--font-white);
  position: absolute;
  bottom: 7px;
  right: -1.5px;
}

.content__info span {
  font-weight: 400;
  font-size: 29px;
  line-height: 35.1px;
  color: var(--font-gray);
}

.content__description {
  font-size: 24px;
  line-height: 34px;
  color: var(--font-gray);
  margin-bottom: 29px;
  opacity: 0;
}

.content__rate {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 14px;
  margin-bottom: 53px;
  opacity: 0;
}

.star img {
  width: 30px;
  height: 30px;
}

.content__actions {
  opacity: 0;
}

.content__actions button {
  font-weight: 500;
  font-size: 22px;
  line-height: 141.52%;
  border-radius: 10px;
  margin-bottom: 54px;
}

.stream__btn {
  background: var(--red);
  padding: 16px 85px 16px 34px;
  position: relative;
  margin-right: 50px;
}

.stream__btn::after {
  content: url(../images/play_btn.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 16px;
  right: 37px;
}

.episodes__btn {
  border: 3px solid var(--font-white);
  padding: 13px 55px;
}

/* ==== Slider styles ==== */

.slider {
  position: relative;
  max-width: 910px;
  height: 256px;
  /* margin-bottom: 50px; */
  font-weight: 800;
  font-size: 22px;
  line-height: 144.52%;
  letter-spacing: 0.135em;
  overflow-x: hidden;
  opacity: 0;
}
.slider__top {
  display: flex;
  justify-content: space-between;
}

.slider__actions {
  display: flex;
  gap: 24px;
}

.slider__actions button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.active {
  border: 1.54px solid var(--font-white);
  border-radius: 50%;
  height: 41px;
  width: 41px;
  cursor: pointer;
}

.disabled {
  border: 1.54px solid var(--font-gray);
  color: var(--font-gray);
  border-radius: 50%;
  height: 41px;
  width: 41px;
  cursor: pointer;
}

.disabled path {
  fill: var(--font-gray);
}

.slider__body {
  display: flex;
  gap: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ==== Age-rating styles ==== */

.age-rating {
  position: absolute;
  bottom: 20px;
  right: 0;
  background: var(--red);
  padding-left: 33px;
  opacity: 0;
}

.age-rating p {
  background: var(--font-gray);
  font-weight: 500;
  font-size: 24px;
  line-height: 141.52%;
  padding: 15px 68px 14px 26px;
}
